
html {
  height: 100%;
}
body {
  min-height: 75%;
}


.head1 {
  width: 100%;
  height: 808px;
  background: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}

.htxt1 {
  width: 525px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 216px;
  left: 700px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 65px;
  opacity: 1;
  text-align: right;
}
.htxt2 {
  width: 494px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 468px;
  left: 700px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.hbtn {
  width: 160px;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 1050px;
  overflow: hidden;
}
.hbtntxt {
  width: 160px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.hbtntxt1 {
  width: 109px;
  color: rgba(0,95,172,1);
  position: absolute;
  top: 21px;
  left: 26px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}

.fbox{

 
         
                
}

.fimage{
  
  position: absolute;
  width: 569px;
  height: 723.3px;
  left: 206px;
  top: 939px;
  background-color: bisque;
  
}
.ftxt{
position: absolute;
width: 416px;
height: 400px;
left: 862px;
top: 1178px;


}
.ftxt1{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;

}

.ftxt2{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;

}
.ftxt3 {

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #444343;

}
ul li::marker {
  content: '✓';
  color: green;
}

.myplan{
  position: absolute;
width: 1141px;
height: 400px;
left: 10%;
top: 1792.3px;
background-color:azure;
}

.plan-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.plan{
  align-items: center;
 
  
}
.psobi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.plan-title{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

}
.plan-discription{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 29px;
text-align: center;
}


.gardian-container{
  position: absolute;
width: 1140px;
height: 300px;
left: 10%;
top: 2222px; 
background-image:  linear-gradient(90deg, #005FAC -1.36%, rgba(0, 95, 172, 0) 98.64%),url("./images/watch.png"); 


}


#gsobi{
   
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100px;
text-align: left;
background-size: cover;
color: white;
    padding: 20px;

}

#callme{
  
  
}
